{% block body %}

    {% if AllAdvertisements is defined %}

        {% for advertisement in AllAdvertisements %}

            <p class="nobreakcommunication">{{ advertisement.title }}</p>

        {% endfor %}

    {% endif %}

{% endblock %}

