{% form_theme formular 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1><b>{% trans %}Création d'une annonce{% endtrans %}</b></h1>

    {{ form_start(formular) }}

    <table>

        <tr>
            <td>
                <b>{{ form_row(formular.title) }}</b>
            </td>
        </tr>

    </table>

    <table>

        <tr class="bord2">

            <td>
                <button type="submit">{% trans %}Enregistrer{% endtrans %}</button>
            </td>

        </tr>

    </table>

    {{ form_widget(formular) }}

    {{ form_end(formular) }}


    <div class="verticalspaces"></div>

{% endblock %}

