
{% block body %}

    <h1><b>{% trans %}Gestionnaire d'annonces{% endtrans %}</b></h1>


    <td><a href="{{ path('advertising_create') }}"><button style="font-size: xx-large">{% trans %}Créer une annonce{% endtrans %}</button></a></td>

    <br><br><br><br><br>

{% endblock %}

